*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: royalblue;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container-box{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.box{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    display: inline-block;
    margin: 10px;
}

.box-3{
    background-color:darkorange;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
}

.boxs-3{
    background-color:darkkhaki;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
}